@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
    height: 100%;
    background-color: #06043E;
}



nav {
    max-width: 1920px;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
    padding: 10px 0;
}

nav ul {
    text-align: center;
}

nav ul li {
    display:inline-block;
}

nav ul li a {
    padding: 18px;
    font-family: "Open Sans";
    color: rgba(252, 252, 252, 0.989);
    font-size: 18px;
    text-decoration: none;
    display: block;
}

nav ul li a:hover {
    color: #05EEFF;
}


table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    /* Ensure the table takes full width */
}

th,
td {
    text-align: center !important;
    /* Ensures this takes priority */
    padding: 10px !important;
    /* Ensures padding is applied */
}

th {
    font-weight: bold;
}

.table-home,
.main-home {
    font-family: 'Poppins', sans-serif;
}


#checklist {
    --text: #414856;
    --check: #4f29f0;
    --disabled: #c3c8de;
    --border-radius: 10px;

    border-radius: var(--border-radius);
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    padding: 0px;
    size: 400px;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
}


#checklist input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    margin: 0;
}


#checklist input[type="radio"]::before {
    content: "";
    width: 8px;
    height: 8px;
    background: var(--check);
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
}

#checklist input[type="radio"]:checked::before {
    transform: scale(1);
}

#checklist label {
    font-family: "Open Sans";
    font-size: 16px;
    color: var(--text);
    text-decoration: line-through;
    cursor: pointer;
    transition: all 0.3s ease;
}

#checklist input[type="radio"]:checked+label {
    color: var(--check);
    text-decoration: none;
}

/* Targets all small primary buttons */

